*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0cm;
}

.header
{
    color:white;
    background-color :#111113;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1cm ;
   justify-content: center;
   align-items: center;
   display: flex;
}



h2.a1 span
{
    display: block;
    background-color: darksalmon;
    color: black;
    padding: 1%;
    text-align: center;
    border-radius: 5cm;

}

   

 a:hover
{
    background-color: rgba(238, 238, 230, 0.589);
}

.activee{
    background-color: rgb(61, 63, 63);
    display: flex;
    margin: 0cm;
}
.activee a {
    color:  rgb(241, 241, 247);
    padding: 14px 20px;
    text-decoration: none;
text-align: center;
}



.a1{
    display: block;
    background-color: rgb(95, 91, 91);
    color: rgb(252, 247, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1%;
    margin: 1%;
border-radius: 10cm;
 
}
.b1{
    margin-left: 0cm;
    background-color:  rgb(124, 123, 123);
    padding: 1cm;
    border-radius: 10px;
    border: black;
}
.c1{
    color: rgb(250, 246, 246);
    font-family: fantasy;
    font-size: 50px;
    margin: 30px;
    padding: 5px;
    text-align: center;
}

.a2{
    size: 50px;
    margin-left: 10cm;
    padding: 10cm;
}

.new
{
    display: block;
    background-color :rgb(10,10,10);
    color: rgb(150, 149, 148);
    padding: 1px;
    text-align: center;
    
    font-size: 50px;

}
h2.f1
{
    display: block;
 background-color: rgba(129, 120, 118, 0.904);
 color: rgb(236, 236, 209);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 padding: 14px 20px;
 
 text-align: center;
 margin: 0%;

}
h3{
    display: block;
 margin-block-start: 0cm;
    color: rgb(226, 55, 12);
    text-align: center;
    padding: 1%;
    border-radius: 3cm;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }


.carousel-cell {
  width: 66%;
  height: 12cm;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  margin-bottom: 2cm;
  margin-top: 0cm;
display: flex;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.adv {
    display: block;
    color: rgb(250, 246, 246);
    padding: 14px 20px;
    margin: 1cm;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}
section{
    background-color: black;
    margin: 0cm;
  
}
.b1{
    background-color: rgba(12, 12, 12, 0.781);
    margin-top: 0px 0px;
    border-radius: 0%;
}
.b2{
    color: blanchedalmond;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#l1{
    background-color: darkgray;

}
section , header{
    text-align: center;
    margin: 0cm;
    padding: 0cm;
}
img{
    padding: 1cm;
 
}
div.a{
    text-transform: uppercase;

}
#first{
    margin: 0px;
    background-color: black;
    margin-top: 0cm;
}
#sc{
    color: floralwhite;
}
.id
{
    background-color: black;
    background-image: url('bk.jpg')
    
    
}
.art{
    background-color: rgba(190, 183, 182, 0.925);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin: 0px;
 padding: 0px;
}
.vid{
    
 
display:grid;
grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  margin: 1cm;
  margin-left: 2cm;
}



@media screen  and (max-width:800px){
   .activee{
        flex-direction: column;
    }
    .vid{
display: none;
          }
  }

  .vid1{
      display: flex;
      display: none;
  }
@media  (max-width:800px){
    .vid1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 20px;
        border: oldlace;
    }
    
}


#color{
    background-color: #111113
 
}
@media screen and (max-width:500px){
  
    .header{
        font-size: 10px;
    }
 
} 

.flex-container{
    
    display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     }
     .second-carousel{
         display: none;
     }
   
     @media (max-width:800px) {
         
         
        .flex-container {
             display: none;
         }
        
        
     } 
     .newhead{
         display: none;
     }
     
     @media  (max-width:800px){
        .header{
            font-size: 30px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            justify-content: center;
            align-items: center;  
       
        
        }
        .head{
            display: none;
        } 
        .newhead{
            display:inline;
        }
     }
.first-sem{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
    gap: 1cm;
}
.index1{
    background-image:url("https://source.unsplash.com/random")

}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1cm;
    
  }
  .but{
    background-color: rgb(71, 73, 71);
    color: gainsboro;
  }
  .footerr{
    text-align: center;
    padding: 14px 20px;
    background-color: rgb(80, 75, 75);
    color: white;
    margin-bottom: 0cm;
  }

  .linkdn_handle {
    color: #0e76a8;
    background-color: blanchedalmond;
    border-radius: 5cm;
    padding: 10px 10px;
  }

.kin{
    width: 100%;

}

